.container {
  width: 900px;
  margin: 0 auto;
}

.results-container {
  padding-left: 25px;
}

.benchmark {
  width: 456px;
  margin-left: auto;
  margin-right: auto;
}

.result {
  font-size: 16pt;
  width: 800px;
}

.result-data {
  padding-top: 10px;
  margin-left: 0px;
  font-size: 12pt;
}

.url {
  color:  #228B22;
}

.relevancy {
  font-weight: bold;
  padding-left: 20px;
}

h2 {
  font-family: 'Sanchez', serif;
  font-size: 65px;
  font-weight: bold;
  color: #333;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

h5 {
  text-align: left;
  font-size: 20px;
}

#search-button {
  border: 0;
  background: #bbb;
  padding: 4px;
  margin-left: -4px;
  vertical-align: bottom;

}

#search-bar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: center;
}

#search-field{
  width: 420px;
  height: 42px;
  font-size: 25px;
  margin-right: 0;
  vertical-align: bottom
}
