<h2>Infoseek</h2>


<form id="search-bar">
  <label>Search</label>
  <input type="text" name="search_input">
  <input type="submit">
</form>

<% @results.each do |result| %>
  <%= erb :"_results", layout: false %>
<% end  %>
